/* stylelint-disable selector-nested-pattern */
@import '~@wordpress/base-styles/variables';

.mailpoet-editor-feedback-button {
  bottom: 5px;
  position: absolute;
  right: 5px;
}
// To be able to scroll up a bit more in case the sidebar content is long button is displayed over it.
.edit-post-sidebar {
  box-sizing: border-box;
  padding-bottom: 40px;
}

.woocommerce-email-editor__settings-panel {
  .mailpoet-settings-panel__subject-label-suffix {
    float: right;
  }
  .mailpoet-settings-panel__preview-text-length {
    color: #000;
    display: inline-block;
    float: right;
    font-weight: 500;
  }
  .mailpoet-settings-panel__preview-text-length-warning {
    color: #f0b849;
  }
  .mailpoet-settings-panel__preview-text-length-error {
    color: #cc1818;
  }
}

.mailpoet-status-panel {
  &__date-time-picker {
    min-width: 320px;
    padding: $grid-unit-10;
  }

  &__recipients-selector {
    min-width: 280px;
    padding: $grid-unit-10;
  }

  &__recipients-segments {
    margin-top: $grid-unit-20;
  }

  &__recipients-total-count {
    color: $gray-700;
    font-size: $font-size-small;
  }

  &__recipients-total-count &__recipients-loader {
    margin: 0;
    vertical-align: middle;
  }
}

.mailpoet-content-settings-panel {
  &__help-text {
    flex: 1;
  }

  &__text-length {
    color: $gray-900;
    font-weight: 500;

    &--warning {
      color: $alert-yellow;
    }

    &--error {
      color: $alert-red;
    }
  }
}

.mailpoet-inbox-preview-panel {
  &__card {
    padding: $grid-unit-15;
  }

  &__from-address {
    color: $gray-700;
    font-size: $font-size-small;
  }

  &__subject {
    color: $gray-900;
  }

  &__preheader {
    color: $gray-700;
  }
}
