.mailpoet_captcha_form {
  .mailpoet_icon_button {
    background: transparent;
    border: 0;
    cursor: pointer;

    img {
      height: 20px;
      width: 20px;
    }
  }
}

// Inline captcha displayed within MailPoet forms
.mailpoet_captcha_container {
  margin: 0 auto 20px;
  max-width: 300px;
  text-align: center;

  .mailpoet_captcha_image_wrapper {
    margin-bottom: 10px;
  }

  .mailpoet_captcha {
    display: block;
    margin: 0 auto;
  }

  .mailpoet_icon_button {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 5px;
    vertical-align: middle;

    img {
      height: 20px;
      width: 20px;
    }

    &:hover {
      opacity: 0.7;
    }
  }

  .mailpoet_captcha_player {
    display: none;
  }

  .mailpoet_captcha_label {
    display: block;
    margin-top: 10px;
    text-align: left;

    .mailpoet_text_label {
      display: block;
      margin-bottom: 5px;
    }

    .mailpoet_text {
      max-width: 220px;
      width: 100%;
    }
  }

  .mailpoet_captcha_submit {
    margin-top: 15px;
  }
}

// Elements hidden by JavaScript when captcha is active
.mailpoet_captcha_hidden {
  display: none !important;
}

// WP registration form
form#registerform .g-recaptcha:not([data-size='invisible']) {
  scale: 0.9;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

// WC registration form
form.woocommerce-form-register .g-recaptcha {
  padding-inline-start: 3px;
}
