#mailpoet_automation_editor .interface-interface-skeleton__header {
  border-bottom: none;

  .editor-header {
    padding-left: 20px;
    .mailpoet-automation-editor__header-breadcrumbs {
      a {
        display: block;
        text-decoration: none;

        h1 {
          color: #1e1e1e;
          display: block;
          font-size: calc(15px);
          font-weight: 600;
          line-height: 32px;
          margin: 0;
          overflow: hidden;
          text-overflow: ellipsis;
          text-wrap: pretty;
          white-space: normal;
        }
      }
    }
  }
}

// In automation editor we don't display the WP toolbar, but there is a css that adds space to the top of the page
// for the toolbar so we need to override it
.interface-interface-skeleton__html-container.wp-toolbar {
  padding-top: 0;
}
